// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// Variables
@import '../variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Lato', sans-serif;
}

tr {
    text-align: center;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.my_bold {
    font-weight: 600;
}

.my_input_text {
    width: 190px;
}

.my_grey_pill {
    background-color: lightgray;
    font-size: 16px;
    color: black;
    font-weight: 300;
}

.my_grey_border {
    border-color: #dee2e6;
    
}

.my_food_list {
    min-width: 110px;
    display: inline-block;
}

.clear-query {
    width: 18px;
    aspect-ratio: 1;
    background-color: #e7e7e7;
    border-radius: 50%;

}

.error_js {
    color: #761b18;
    background-color: #c6c6c6;
    border-radius: 5px;
    padding: 10px 20px;
}

.input_error_js {
    border-color: #e3342f;
}

.btn {
    padding: 0;
    a {
        display: inline-block;
        padding: 5px 10px;
    }
}

.my_btn {
    padding: 5px 10px;
}

main {
    margin-top: 100px;
}

//header

.logo{
    height: 30px;
    padding: 0 10px;
    cursor: pointer;

    img {
        height: 100%;
    }

    .header_title {
        font-size: 1.15rem;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        color: #3ECCBC;
        margin-left: 5px;
    }

    &:hover {
        text-decoration: none;
    }
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;

    &:hover {
        color: #3ECCBC;
    }
}

.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.list_order {
    height: calc(100vh - 100px);
    overflow-y: auto;
}

//home

// .card_orders {
//     padding: 0 10px;
// }

.card-body{
    background-color: #fff;
    border: 1px solid lightgray;
}

.btn a{
    padding: 2px 10px;
}

.label {
    font-size: 1rem;
    color: #3ECCBC;
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
}

.my_txt {
    font-size: 1rem;
}

.card {
    background-color: transparent;
    border: none;
}

.card-header {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: none;
}