// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Variables
@import '../variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap-grid';

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: var(--light-grey);
}

//  typhography
// h1 {
//     font-size: 6rem;
// }

h2 {
    font-size: 1.575rem;

    @media screen and (min-width: 992px) {
        font-size: 2.275rem;
    }
}

// h3 {
//     font-size: 2.8125rem;
// }

.category-text {
    font-size: 2.25rem;
}

.card-text {
    font-size: 1.75rem;
}

.btn {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

.my_container {
    width: 80%;
    margin: 0 auto;
}

.my_container_fluid {
    width: 90%;
    margin: 0 auto;
}

a {
    color: initial;
    text-decoration: none;
}

img {
    display: block;
}

.error_js {
    color: #761b18;
    background-color: #c6c6c6;
    border-radius: 5px;
    padding: 10px 20px;
}

.input_error_js {
    border-color: #e3342f;
}

.btn-main {
    color: var(--white);
    font-size: .9rem;
    font-weight: bold;
    background-color: var(--main-color);
    padding: 5px 10px;
    transition: 0.15s;

    &:hover {
        background-color: #43b6a8;
    }

    &:active {
        transform: scale(.97);
    }
}

@media screen and (min-width: 576px) {
    .btn-main {
        font-size: 1rem;
        padding: 10px 15px;
    };
}

// variables
:root {
    --main-color: #3ECCBC;
    --light-grey: #f3f3f6;
    --dark-grey: #9F9F9F;
    --black: #000;
    --white: #fff;
}

li {
    list-style: none;
}

